#canvas-container {
	position: relative;
	height: 0;
	overflow: hidden;
	padding-top: 56.25%;
}
#canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 90%;
	height: 90%;
}

html,
body {
	overflow: hidden;
}
